body {
    font-family: 'Roboto',
        sans-serif;
}

.container {
    /* width: 100%; */
    max-width: 1219px;
    margin: 0 auto;
    padding: 0 55px;
    box-sizing: border-box;
}

.clear {
    content: "";
    display: table;
    clear: both;
}

/* .anchor {
    position: absolute;
    left: 0;
    top: -100;
} */

header {
    width: 100%;
    padding: 20px 0;
    /* margin: 20px; */
    position: fixed;
    background-color: #007765;
}

.logo {
    float: left;
    height: 45px;
    /* padding: 10px; */
}

nav {
    float: right;
    margin-right: -6px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav li {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
    display: inline-block;
    margin-right: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 45px;
}

.title {
    padding-top: 85px;
    height: 403px;
    background: url('/img/jumbotron.jpg');
    background-size: cover;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 72px;
    line-height: 403px;
    text-align: center;
}

h2 {
    color: #007765;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    margin-top: 47px;
    padding-bottom: 0;
    margin-bottom: 0;
    /* margin-left: -72px; */
}

.content {
    margin-top: -85px;
    padding-top: 85px;
    margin-bottom: 92px;
}

.content p {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    margin-top: 17px;
    margin-bottom: 39px;
}

.hero-block {
    background: url('/img/hero.jpg');
    height: 483px;
    background-size: cover;
    line-height: 483px;
    text-align: center;
}

.hero {
    vertical-align: middle;
    display: inline-block;
}

.hero p {
    color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin: 0 108px;
}

#pied img {
    width: 115px;
    float: left;
    margin: 16px 48px 0 0;
}