body {
    font-family: 'Roboto',
        sans-serif;
}

.container {
    /* width: 100%; */
    max-width: 1219px;
    margin: 0 auto;
    padding: 0 55px;
}

.clear {
    content: "";
    display: table;
    clear: both;
}

.anchor {
    position: absolute;
    left: 0;
    top: -100;
}

header {
    width: 100%;
    padding: 20px;
    position: fixed;
    background-color: #007765;
}

.logo {
    float: left;
    height: 45px;
    /* padding: 10px; */
}

nav {
    float: right;
    margin-right: 104px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav li {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
    display: inline-block;
    margin-right: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    line-height: 45px;
}

.content {
    margin-top: -50px;
    padding-top: 50px;
}